# C++ build artifacts
/build/
cmake-build-*/
*.o
*.a
*.so

# Executable from CMakeLists.txt
/main

# Nix build results
/result*

# JetBrains IDE user-specific files
.idea/workspace.xml
.idea/shelf/
.idea/editor.xml

# Zig cache
.zig-cache/
zig-out/
a.out
main_zig_test

# Antigravity & cache
.antigravitycli/
.cache/
.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml